body {
  padding: 40px;
  background: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  box-sizing: border-box; }

.logo {
  width: 306px;
  height: 55px; }

ul {
  list-style: none;
  margin-top: 40px;
  padding: 0 40px 0 0;
  transform-origin: 0 0;
  width: 100%;
  box-sizing: border-box; }

li {
  margin-bottom: 15px; }

a {
  color: grey;
  font-weight: 100;
  text-decoration: none;
  font-size: 80px; }
  a:hover {
    border-bottom: 1px solid; }
