body {
  padding: 80px 100px;
  background: #000 url(../img/main_bg.jpg) 75% 100% no-repeat;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  box-sizing: border-box;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  min-width: 920px; }

.logo {
  width: 50px; }

ul {
  list-style: none;
  margin-top: 40px;
  padding: 0 40px 0 0;
  width: 100%;
  box-sizing: border-box; }

li {
  margin-bottom: 15px; }

a {
  color: white;
  font-weight: 100;
  text-decoration: none;
  font-size: 50px; }
  a:hover {
    border-bottom: 1px solid; }

.about {
  font-size: 56px;
  color: #eee;
  font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.2;
  font-weight: 600;
  margin: 1.2em 0; }

#outer {
  transform-origin: 0 0;
  display: inline-block;
  margin-top: 0; }
