@font-face {
    font-family: 'helioscregular';
    src: url('heliosc-webfont.eot');
    src: url('heliosc-webfont.eot?#iefix') format('embedded-opentype'),
         url('heliosc-webfont.woff') format('woff'),
         url('heliosc-webfont.ttf') format('truetype'),
         url('heliosc-webfont.svg#helioscregular') format('svg');
    font-weight: normal;
    font-style: normal;
}