body{
  padding: 40px;
  background: #000 url(../img/main_bg.jpg) 75% -50px no-repeat;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  box-sizing: border-box;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  &:before{
    content: '';
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    top:0;
    left: 0;
  }
}

.logo{
  width: 306px;
  height: 55px;
  position: relative;
}

ul{
  list-style: none;
  margin-top: 40px;
  padding: 0 40px 0 0;
  transform-origin: 0 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

li{
  margin-bottom: 15px;
}
a{
  color: rgba(255, 255, 255, 0.75);
  font-weight: 100;
  text-decoration: none;
  font-size: 80px;
  &:hover{
    border-bottom: 1px solid;
  }
}
