body{
  padding: 40px 40px 80px;
  background: #000 url(../img/main_bg.jpg) 75% -50px no-repeat;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  box-sizing: border-box;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}

.logo{
  width: 50px;
}

ul{
  list-style: none;
  margin-top: 40px;
  padding: 0 40px 0 0;
  width: 100%;
  box-sizing: border-box;
}

li{
  margin-bottom: 15px;
}
a{
  color: rgba(255, 255, 255, 0.75);
  font-weight: 100;
  text-decoration: none;
  font-size: 50px;
  &:hover{
    border-bottom: 1px solid;
  }
}
.about{
  font-size: 50px;
  color: #eee;
  font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.2;
}

#outer{
    transform-origin: 0 0;
}
