.form {
    position: relative;

    width: 955px;

    margin-left: auto;
    margin-right: auto;

    padding-bottom: 75px;

    background: #181818;
    /*background: rgba(17, 19, 26, 0.91);*/
}

.form__settings {
    margin-top: 1px;
}

.form__title {
    height: 67px;

    padding-left: 27px;

    font-family: 'helioscondcbold', sans-serif;
    font-weight: bold;
    font-size: 26px;

    line-height: 67px;

    color: #fff;
}
