@charset 'utf-8';

.col {
    display: table-cell;

    vertical-align: top;

    padding-top: 10px;
    padding-bottom: 10px;
}

.col1 {
    width: 310px;

    padding-right: 25px;
}

.col2 {
    width: 290px;

    padding-right: 10px;
}

.col3 {
    width: 290px;

    padding-right: 70px;
}
