html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  background: #ECEFEE; }

.housing {
  width: 40vw;
  height: 40vw;
  background: linear-gradient(135deg, #fdfdfd 0%, #c3c3c3 100%);
  border-radius: 50%;
  box-shadow: 20px 20px 80px 20px #838381;
  padding: 1.5%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .housing .face {
    border-radius: 50%;
    background: #5D5D5D;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.5), inset -1px -1px 0 #e8e8e8, 10px 10px 0 rgba(170, 170, 170, 0.1); }
