@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  font: .8em Arial,Helvetica,sans-serif;
  max-width: 1280px; }

b {
  font-weight: 600; }

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-flow: row wrap; }
  .main footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    color: rgba(0, 0, 0, 0.3); }

.search-line {
  position: relative;
  transition: all .3s;
  z-index: 1; }
  .search-line .help {
    display: none;
    position: absolute;
    right: 110px;
    text-align: right;
    padding: 7px 10px;
    color: rgba(0, 0, 0, 0.3);
    line-height: 17px; }
    .search-line .help a {
      color: #32A999;
      text-decoration: none; }
      .search-line .help a:hover {
        border-bottom: 1px dashed; }
  .search-line > input {
    height: 50px;
    width: 500px;
    float: left;
    padding: 0 108px 0 20px;
    font-size: 16px;
    border: 0;
    outline: 0; }
  .search-line .button {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(to bottom, #5fd0c1 0%, #00ceb3 100%);
    border-radius: 3px;
    padding: 10px 25px;
    height: 26px;
    top: 2px;
    color: #fff;
    line-height: 28px;
    font-size: 16px;
    position: absolute;
    right: 2px; }

.ui-autocomplete {
  background-color: #fff;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.15);
  width: auto !important;
  margin-top: 30px;
  display: inline-block;
  font-size: 14px;
  padding: 8px 0px;
  transform: translatey(15px);
  z-index: 2; }
  .ui-autocomplete li {
    padding: 5px 20px; }
    .ui-autocomplete li.ui-state-focus {
      color: #00ceb3; }

.ui-helper-hidden-accessible {
  display: none; }

.done .search-line {
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.3); }

.output {
  display: none;
  width: 100%; }
  .output .organic {
    width: 580px;
    flex: 0 auto; }
    .output .organic p + p {
      margin-top: 5px; }
    .output .organic li h2 a {
      text-decoration: none;
      color: #2C46C7;
      font-size: 20px; }
    .output .organic li h2:hover {
      text-decoration: underline; }
    .output .organic li .link {
      display: inline-block;
      color: rgba(0, 0, 0, 0.5);
      padding: 4px 3px 10px 0;
      cursor: text; }
      .output .organic li .link i {
        display: inline-block;
        height: 10px;
        width: 10px;
        background: url(http://favicon.yandex.net/favicon/fresitapizza.ru/el-inka.ru/staryi-gorod.c…k.org/xn----7sbbagdm4c7azafgg7o.xn--p1ai/povar-cook.ru?color=255,255,255,0);
        height: 16px;
        width: 16px;
        background-size: 100% auto;
        margin-bottom: -4px;
        margin-right: 3px;
        position: relative;
        top: -1px; }
      .output .organic li .link span {
        opacity: 0;
        transition: opacity .3s;
        width: 0;
        overflow: hidden;
        display: inline-block;
        position: absolute; }
      .output .organic li .link:hover span {
        opacity: 1;
        display: inline;
        position: static; }
        .output .organic li .link:hover span a {
          text-decoration: none;
          color: #32a999; }
          .output .organic li .link:hover span a:hover {
            text-decoration: underline; }
    .output .organic li p {
      font-size: 13px;
      line-height: 18px; }
    .output .organic li + li {
      margin-top: 50px; }
  .output .right-col {
    flex: 1 auto;
    padding: 0 0px 0 100px;
    box-sizing: border-box; }
    .output .right-col img {
      width: 300px; }
    .output .right-col p {
      font-size: 15px;
      margin-bottom: 10px; }
    .output .right-col a {
      text-decoration: none;
      color: #2C46C7; }
      .output .right-col a:hover {
        text-decoration: underline; }

#ad2 i {
  background-position: 0 -16px; }

.list .search-line {
  position: fixed;
  top: 0; }
  .list .search-line > input {
    width: 820px; }
  .list .search-line .help {
    display: block; }
.list .main {
  justify-content: flex-start;
  align-items: flex-start;
  padding: 170px 90px 0; }
  .list .main footer {
    position: static;
    transform: translate(0);
    text-align: center;
    padding: 20px;
    flex: 1 100%;
    margin-top: 50px; }
.list .output {
  display: flex;
  position: relative; }

.nav {
  position: absolute;
  top: -80px; }
  .nav li {
    display: inline-block;
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
    margin-right: 15px;
    cursor: pointer; }
    .nav li:hover {
      color: #00CEB3; }
    .nav li.active {
      padding: 9px 0px;
      border-bottom: 2px solid #00CEB3; }
      .nav li.active:hover {
        cursor: default;
        color: rgba(0, 0, 0, 0.3); }

.show-tools #showTools {
  border-bottom: 1px dashed; }
.show-tools .main {
  padding-top: 225px; }

.tools {
  display: none;
  background: #fff;
  clear: both;
  padding: 10px 20px; }
  .show-tools .tools {
    display: block; }
  .tools input {
    background: rgba(0, 0, 0, 0.05);
    border: 0;
    padding: 5px 10px;
    font-size: 12px; }
    .tools input + * {
      margin-left: 5px; }
    .tools input[type=checkbox] {
      margin-right: 5px; }

.menu {
  padding: 10px 0 0; }
  .menu a {
    text-decoration: none;
    color: #32a999; }
    .menu a:hover {
      text-decoration: underline; }
    .menu a + a {
      margin-left: 10px; }

.ad {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: 100;
  padding: 2px 3px;
  border-radius: 3px;
  font-size: 10px; }

.more a {
  text-decoration: none;
  color: #32a999;
  display: block;
  font-size: 14px; }
  .more a:hover {
    text-decoration: underline; }
  .more a + a {
    margin-top: 6px; }
.more h3 {
  font-size: 18px;
  margin-bottom: 10px; }

@media screen and (max-width: 640px) {
  .search-line .button {
    display: none; }
  .search-line input {
    width: 250px;
    padding: 0 20px;
    font-size: 12px; }

  .done .search-line {
    box-shadow: 0 0 60px #52C1B3; }

  .list .search-line {
    width: 100%;
    left: 0; }
    .list .search-line input {
      width: 100%;
      box-sizing: border-box; }
    .list .search-line .help {
      display: none; }
  .list .main {
    padding: 170px 20px 0; }
  .list .output {
    display: block; }
    .list .output .organic {
      width: auto; }
      .list .output .organic li h2 a {
        font-size: 16px;
        line-height: 20px; }
      .list .output .organic li + li {
        margin-top: 35px; }
    .list .output .right-col {
      padding: 50px 0px 0 0; }
      .list .output .right-col img {
        width: 275px; } }
